@tailwind base;
@tailwind components;
@tailwind utilities;

.vertical-sutras-container {
  direction: rtl;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(10, auto);
}

.vertical-sutras-over-xl-container {
  direction: rtl;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(14, auto);
}

.crop-container {
  background: #333132;
  height: 400px;
  margin: auto;
  position: relative;
  width: 400px;
}
