@tailwind base;
@tailwind components;
@tailwind utilities;

.vertical-sutras-container {
  direction: rtl;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(10, auto);
}

.vertical-sutras-over-xl-container {
  direction: rtl;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(14, auto);
}

.crop-container {
  background: #333132;
  height: 300px;
  margin: auto;
  position: relative;
  width: 300px;
}

.min-height {
  /* header: 74.4px + footer: 154px  */
  min-height: calc(100vh - (229px));
}
